<label class="{{ task.done ? 'done': ''}}">
  <input type="checkbox" [(ngModel)]="task.done">
  {{ task.title }}
  <span *ngIf="task.deadline">(期日: {{ task.deadline|date: 'yyyy/MM/dd' }})</span>

  <button (click)="active()">編集</button>
  <div *ngIf="show" class="edit">
    <input type="text" [(ngModel)]="task.title">
    <input type="date" [(ngModel)]="task.deadline">
    <button (click)="editTask(task)">更新</button>
  </div>

  <button (click)="deleteTask(task.id)">削除</button>
  <span *ngIf="isOverdue(task)" class="overdue">期日超過</span>
</label>
